<%- include('./partials/header.ejs', {
  title: "Omegle: Talk to Strangers!",
  description: "Omegle is the best place to talk to strangers. It's anonymous, safe, and fun. Start chatting!", 
  keywords: "Omegle"}) %>



<section id="home_section">

  <section id="video_sections">
    <section>
      <video id="video" muted autoplay playsinline></video>
    </section>
    <section>

      <div id="select_gender_screen">
        <h2>Select gender to chat with:</h1>
          <div id="select_gender_container">
            <button id="male_gender_btn" class="gender_btn active_gender">
              <img id="male_gender_img" src="/happy_m.png" alt="male gender" />
              <h3>Male</h3>

            </button>

            <button id="female_gender_btn" class="gender_btn">
              <img id="female_gender_img" src="/sad_f.png" alt="female gender" />
              <h3>Female</h3>
            </button>

          </div>

          <div id="start_chat_container">
            <button id="start_chat_btn">Start Chat</button>
          </div>
      </div>

      <div id="identify_gender_screen">
        <h2>Identifying your gender ....</h2>

        <img src="/scanner.gif" alt="Scanning the face to identify gender.">

        <p><span>Note: </span>Look into camera to start the omegle. This process is used to maintain the proper security for users.</p>

      </div>

      <div id="loading_next_screen">
        <h2>Searching for a random stranger ....</h2>
        <img src="/loading.gif" alt="Loading the next...">
      </div>

      <video id="video_random" autoplay playsinline></video>

    </section>
  </section>

  <section id="chat_and_btns_section">

    <section id="btns_section">
      <button id="dev_btn">
        <i class="fa-solid fa-code"></i>
        <span>Developer</span>
      </button>
      <button id="report_btn">
        <i class="fa-solid fa-bug"></i>
        <span>Report</span>
      </button>
      <button id="disconnect_btn">
        <i class="fa-solid fa-forward-fast"></i>
        <span>Next</span>
      </button>
    </section>

    <section id="chat_section">
      <div id="chat_messages">
      </div>
      <div id="chat_input_container">
        <input type="text" id="chat_input" placeholder="Type a message..." />
        <button id="send_btn">Send</button>
      </div>
    </section>




  </section>


</section>